-e .
-e https://github.com/pauleveritt/kaybee_bulma.git
sphinx
pydantic
docutils
gitchangelog
bumpversion
pytest
pytest-mock
travis-encrypt
livereload
beautifulsoup4
html5lib
coverage
doctr
kaybee_bulma
tox